<?xml version='1.0' encoding='utf-8'?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2007/ops" lang="zh-Hant" xml:lang="zh-Hant">
<head>
	<% include partials/template/head.ejs %>
	<title><%= meta[book].booktitlechinese %></title>
</head>
<body>
	<div epub:type="bodymatter" id="bodymatter">
	<%- include(chapter) %>
	</div>
</body>
</html>
