<?xml version='1.0' encoding='utf-8'?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2007/ops" lang="zh-Hant" xml:lang="zh-Hant">
<head>
	<% include partials/template/head.ejs %>
	<title><%= global.book.meta[book].booktitlechinese %></title>
</head>
<body>

<div epub:type="frontmatter" id="frontmatter">
	<section epub:type="titlepage" id="titlepage">
		<p epub:type="bridgehead" class="bridge">《真相》系列（84）</p>
		<h2 epub:type="subtitle">国家机密</h2>
		<h1 epub:type="title">逃離朝鮮 亡命中國</h1>


		<p epub:type="bridgehead" class="bridge"><%= global.book.meta[book].booktitlechinese %></p>
		<h2 epub:type="subtitle"><%= global.book.meta[book].booktitlechinese %></h2>
		<h1 epub:type="title"><%= global.book.meta[book].booktitlechinese %></h1>

	</section>
</div>

</body>
</html>
