				<h1>大饑荒</h1>
				<h2>豎起生命的紀念碑</h2>

				<p>2010年，山東西北部一個很小的村莊——商店鎮鄒家莊的村民做了一件很有意義的事情：在一位大學生的動員下，村民們湊錢給在1959年到1961年大饑荒中死去的本村村民豎起了一塊墓碑。在這塊1.6米高，800斤重的黑色石碑上刻著37個死難者的名字。</p>

				<p>碑文說：“1959年至1961年三年饑荒期間，本村共41戶，165口人，生活極度困難，共有37人因饑餓去世，涉及17戶。本村村民特立此碑，以示銘記。”</p>

				<p>大學生鄒雪平說，這37個名字是她訪問村里老人們的時候得到的，經過了許多次的核實，非常準確。死者佔全村人口的近四分之一。</p>