		<section epub:type="rearnotes" id="rearnotes">
			<h1>註釋</h1>
			<ul class="endnotes">
				<li id="en01">1. 《墓碑》：該書全名為《墓碑—中國六十年代大饑荒紀實》，2008年5月由香港天地圖書有限公司出版，共660頁，是大饑荒研究領域的一個重要成果。該書記錄了中國各地有關大饑荒的重要資料，比較全面和詳細地呈現了大饑荒發生的前前後後，對大饑荒研究和增加公眾對大饑荒的了解產生了廣泛的影響。<a href="bodymatter.xhtml#ref01">回</a></li>
				<li id="en02">2. 楊繼繩：《墓碑》序。<a href="bodymatter.xhtml#ref02">回</a></li>
				<li id="en03">3. 中國大陸人教版高一歷史教材《中國近現代史》（下冊）<a href="bodymatter.xhtml#ref03">回</a></li>
				<li id="en04">4. 學者們對烏克蘭大饑荒死亡人數分歧較大，一般認為在250萬到480萬之間，少數學者認為有750萬。本文在多數認同的數字區間中取一個偏高的折中數字——400萬。<a href="bodymatter.xhtml#ref04">回</a></li>
				<li id="en05">5. 饑荒發生的時候，烏克蘭還是前蘇聯的一個加盟共和國。<a href="bodymatter.xhtml#ref05">回</a></li>
				<li id="en06">6. 第一次世界大戰的死亡人數一般認為在一千萬左右，受傷者約兩千萬。<a href="bodymatter.xhtml#ref06">回</a></li>
				<li id="en07">7. 第二次世界大戰中的死亡人數接近五千萬。但這五千萬人是在七、八年之間死亡的，而中國大饑荒中餓死的近四千萬人則是在三、四年內死去的，在多數地區，死亡集中發生在半年之內。因此，楊繼繩先生認為，大饑荒的慘烈程度遠遠超過二戰。<a href="bodymatter.xhtml#ref07">回</a></li>
				<li id="en8">7. 第二次世界大戰中的死亡人數接近五千萬。但這五千萬人是在七、八年之間死亡的，而中國大饑荒中餓死的近四千萬人則是在三、四年內死去的，在多數地區，死亡集中發生在半年之內。因此，楊繼繩先生認為，大饑荒的慘烈程度遠遠超過二戰。<a href="bodymatter.xhtml#ref07">回</a></li>
			</ul>
		</section>
		<section epub:type="afterword" id="afterword">
			<h1>編後語</h1>
			<p>經過幾個月的努力，美國之音叢書《解密時刻》（一）終於付梓成書，完成了從視頻到印刷的形體轉換。這個轉換並非易事，除了因應書面文字之需要而對報導內容進行了必要的改寫和文體轉換外，還為照顧閱讀的方便對文章涉及的歷史事件、歷史人物等做出大量的註解、選配必要的照片、製作相關的插圖。在這個過程中，許多人做出了積極的努力。在此，我們特向為本書繪圖、校對、查找資料的美國之音工作人員杜林、蕭雨、趙萱、鄭佳蕙、馬文通、石萌、張曉蓓以及粵語組的全體同仁表示感謝，也要向給我們提出具體指導和建議的《明鏡出版社》的總編輯何頻、編輯高伐林表示感謝。</p>

			<p>多媒體時代的到來迫使幾乎所有媒體迅速地進行自我改變和自我調整。美國之音也不例外。在過去的十幾年裡，美國之音在它傳統的廣播平台之外又搭建起網絡、電視、社交媒體等多個平台，把自己的視頻和音頻報導和節目傳遞給世界各地的受眾。</p>

			<p>傳播的形式在不斷變化，但我們並沒有因為形式而忽略我們服務的對象。受眾的需要是我們調整和改變的方向。我們應聽眾的要求，繼續保持了已經持續了70多年的無線廣播。除此之外，我們也開始涉足出版領域，把我們的一些重要節目內容改編成書，給讀者提供閱讀和保留的方便。</p>

			<p>《解密時刻》（一）只是美國之音叢書出版計劃的開始。隨著更多、更好的節目的推出，我們將會陸續把它們編輯成書，提供給大家。感謝我們的聽眾、觀眾和讀者多年來給予的關注和支持。無論是新媒體還是老媒體，只要讀者需要，我們就會堅持下去。</p>

			<p>美国之音VOA衛視通過亞太5号衛星Ku频段（小耳朵）以及亞洲3號衛星C和11H频段向中國大陸以及亞洲其他國家和地区的華人播送普通話電視節目。</p>

			<p>美國之音的中文網的地址是：<br/><a href="http://www.voachinese.com/">http://www.voachinese.com/</a> <br /> <a href="http://www.freexinwen.com" class="calibre1">http://www.freexinwen.com</a></p>

			<p>如果您對我们有任何建議或意见，請通過 <br/><a href="mailto:chinese@voanews.com">chinese@voanews.com</a> 發給我們。</p>

			<p>編者</p>

			<h2>學分</h2>

			<p>2013年4月10日<br />編務人員：<br/>總策劃：龔小夏 章 明<br />策劃：李 肅<br />主編：木 風</p>

			<p>中国国画这种传统的美术形式千百年来经久不衰。</p>
		</section>
		<section epub:type="copyright-page" id="copyright">
			<p>&#169;2015</p>
			<p>Copyright by [VOA]</p>
			<p>All rights reserved. No part of this book may be reproduced in any form, or by any means, without permission in writing from the publisher.</p>
			<p>International Stardard Book: <%- global.book.meta[book].isbn %></p>
		</section>
